<div [collapse]="collapsed" [isAnimated]="true" class="card" #rootElement>
  <ng-template ngFor let-message [ngForOf]="lastMessages">
    <gentelella-last-messages-single-message
      [message]="message"
    ></gentelella-last-messages-single-message>
  </ng-template>
  <div class="card my-1 mx-1 bg-light" >
    <button class="btn text-center py-2 text-dark" (click)="onAllMessagesClick($event)">
      See all messages
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
</div>
