<div
  class="
    card
    my-1
    mx-1
    bg-light
    d-flex
    flex-row
    align-items-center
    cursor-pointer
  "
  (click)="onMessageClick($event)"
  #rootElement
>
  <div class="col-3">
    <img [src]="message.sender.avatar.src" style="width: 100%" />
  </div>
  <div class="col-9 d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <span [innerHTML]="message.sender.name"></span>
      <span class="text-dark"
        ><b
          [innerHTML]="
            dateTimeHelper.getMessageDateDifferenceBetweenNow(message)
          "
        ></b
      ></span>
    </div>
    <span
      class="message"
      style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden"
      [innerHTML]="message.content"
    >
    </span>
  </div>
</div>
