<div [collapse]="collapsed" [isAnimated]="true" class="card">
  <a
    *ngFor="let menuItem of menuItems"
    class="dropdown-item"
    [href]="menuItem.href"
  >
    <gentelella-item-menu-user-profile [itemMenuUserProfile]="menuItem">
    </gentelella-item-menu-user-profile>
  </a>
  <hr />
  <a class="dropdown-item" href="javascript:;"> Profile</a>
</div>
