/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

/** Importing gentelella */
@import "~gentelella/src/scss/custom";
@import "~gentelella/src/scss/daterangepicker";

.user-profile {
  .avatar {
    max-width: 32px;
    max-height: 32px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
