<div
  class="user-profile d-flex cursor-pointer align-items-center"
  (click)="onUserProfileClicked()"
  #rootElement
>
  <img class="avatar mx-2" [src]="userProfile.avatar.src" />
  <span><b [innerHTML]="userProfile?.name"></b></span>
</div>
